@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button, footer, form {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #468f8e;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
}

.logo {
    cursor: pointer;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(179, 214, 205)
}

button {
    padding: 9px 25px;
    background-color: rgb(86, 101, 100);
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(151, 184, 182, 0.8);
}

form, p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #215799;
}

p {
    margin: 20px;
}

input[type=text], select, textarea {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #215799;
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-left: 30px;
}

input[type=submit] {
    background-color: rgb(86, 101, 100);
    color: #468f8e;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
    
}

input[type=submit]:hover {
    background-color: rgb(151, 184, 182, 0.8);
}

.container {
    border-radius: 5px;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
}
}

footer {
    float: right;
    padding: 9px 25px;
}



